.page-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
  .btn-text {
    font-size: 16px;
    color: #00023a;
  }
  .goods_category,
  .goods_num {
    color: #999999;
  }
  .allNumber {
    font-size: 24px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 600;
    color: #ff480e;
  }
}

.trade-tabs {
  display: flex;
  width: 100%;

  // border: 1px solid #206ED4;

  .el-tabs {
    width: 100%;

    ::v-deep .el-tabs__header {
      margin: 0;
    }

    ::v-deep .el-tabs__item {
      font-size: 14px;
      font-weight: 500;
      // color: rgba(255, 255, 255, 0.4);
    }

    ::v-deep .is-active {
      // color: #fff;
    }

    ::v-deep .el-tabs__nav-wrap::before {
      content: "";
      width: 0 !important;
    }

    ::v-deep .el-tabs__nav-wrap::after {
      content: "";
      width: 0 !important;
    }

    /* 去除底部蓝色 */
    ::v-deep .el-tabs__active-bar {
      background: rgba(0, 0, 0, 0.1);
      height: 0 !important;
    }
  }
}

// 生成订单弹框
.generateOrder {
  .generateOrder_one {
    font-size: 16px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #00023a;
  }

  .generateOrder_two {
    font-size: 14px;
    font-family: Source Han Sans CN-Medium, Source Han Sans CN;
    font-weight: 500;
    color: #00023a;
  }

  .generateOrder_three {
    font-size: 16px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #999999;
  }

  .generateOrder_four {
    height: 40px;
    padding-left: 20px;
    background: rgba(21, 108, 194, 0.2);
    border-radius: 0px 0px 0px 0px;
    display: flex;
    align-items: center;

    .generateOrder_bodytext {
      font-size: 14px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      font-weight: 500;
      color: #00023a;
    }
  }

  .generateOrder_five {
    width: 100%;
    height: 118px;
    background: #cbcbcb;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .generateOrder_five_left {
      font-size: 20px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      font-weight: 600;
      color: #00023a;
    }

    .generateOrder_five_right {
      font-size: 14px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      font-weight: 600;
      color: #00023a;
    }
  }
}

// 在线支付弹框
.onlinePayment {
  .onlinePayment_one {
    width: 100%;
    font-size: 32px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #00023a;
  }

  .onlinePayment_two {
    width: 100%;
    height: 80px;
    background: #eeeeee;

    .el_radio_1 {
      display: inline-block;
      width: 300px;
      padding-left: 20px;
    }
  }
}

// 输入密码弹框
.inputPassword {
  width: 100%;

  .el_row {
    margin-top: 20px;
    width: 400px;

    .el_col {
      display: flex;
      align-items: center;

      .title {
        width: 120px;
        text-align: right;
        margin-right: 20px;
      }

      .el_input {
        width: 300px;

        ::v-deep .el-input__inner {
          border-radius: 0px 0px 0px 0px;
        }
      }
    }
  }
}

.paymentCashier {
  height: 262px;

  .paymentCashier_one {
    height: 80px;
    width: 80px;
    // background: rebeccapurple;
    background: url("./image/success.png");
  }

  .paymentCashier_two {
    font-size: 32px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #00c514;
  }

  .paymentCashier_three {
    font-size: 32px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #00023a;
  }
}
