.page-container {
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;

  &::-webkit-scrollbar {
      width: 0px;
  }
}

.trade-tabs {
  display: flex;
  width: 100%;
  min-height: 60vh;
  padding-bottom: 60px;
  margin-bottom: 37px;
  // border: 1px solid #206ED4;

    .el-tabs {
      width: 100%;
  
      ::v-deep .el-tabs__item {
        font-size: 14px;
        font-weight: 500;
        // color: rgba(255, 255, 255, 0.4);
      }
  
      ::v-deep .is-active {
        // color: #fff;
      }
  
      ::v-deep .el-tabs__nav-wrap::before {
        content: '';
        width: 0 !important;
      }
  
      ::v-deep .el-tabs__nav-wrap::after {
        content: '';
        width: 0 !important;
      }
  
      /* 去除底部蓝色 */
      ::v-deep .el-tabs__active-bar {
        background: rgba(0, 0, 0, 0.1);
        height: 0 !important;
      }
    }
  
   
  
  
  
  }